.dev-marker{
  background: none;
  border: none;
}

.dev-marker img{
  width: 30px;
  height: 30px;
}

div.map-marker{
  height: 34px;
  width: 34px;
  padding: 2px;
  border-radius: 3px;
  align-items: center;
  background-color: #E5E6F0;
} 

.div-info{
  display: flex;
  align-items: center;
  padding: 5px;
  height: 60px;
  width: 120px;
  flex-direction: row;
  border-radius: 3px;
}

.div-info img{
  height: 30px;
  width: 30px;
  border-radius: 10%;
}

.div-info h3{
  padding-left: 4px;
  font-size: 12px;
}
